:root {
    --color-blue: rgb(8, 105, 184);
    --color-blue-light: rgb(112, 176, 230);
    --color-green: rgb(72, 146, 105);
    --color-green-light: rgb(171, 221, 204);
    --color-orange: rgb(167, 74, 12);
    --color-orange-light: rgb(233, 183, 149);
}